version: 2.1

orbs:
  blackduck: signavio/blackduck@1.18.0

references:
  workspace_root: &workspace_root "~/workspace"

executors:
  node:
    resource_class: medium+
    docker:
      # On Circle-CI We have to use a build images approved by SAP (for build compliance)
      # see https://wiki.one.int.sap/wiki/pages/viewpage.action?pageId=2650697023
      - image: node:16
  ubuntu:
    machine:
      image: "ubuntu-2204:current"
    resource_class: 2xlarge

jobs:

  build:
    executor: node
    working_directory: *workspace_root
    steps:
      - checkout:
          path: *workspace_root
      - run: npm install
      - persist_to_workspace:
          root: *workspace_root
          paths:
            - node_modules

  sonar_qube_scan:
    executor: node
    working_directory: *workspace_root
    steps:
      - checkout:
          path: *workspace_root
      - run: npm install
      - run: npm run test-with-coverage
      - run:
          name: Sonar scan
          command: |
            if [ -n "$CIRCLE_PULL_REQUEST" ]; then
                PR_NUMBER=$(echo $CIRCLE_PULL_REQUEST | sed -E "s/.+\/([0-9]+)$/\1/g")
                SONAR_ARGS="\
                  sonar.pullrequest.key=${PR_NUMBER} \
                  sonar.pullrequest.branch=${CIRCLE_BRANCH} \
                  sonar.pullrequest.base=master"
              else
                SONAR_ARGS="\
                  sonar.branch.name=${CIRCLE_BRANCH}"
              fi

            node analyse.js $SONAR_ARGS
      - persist_to_workspace:
          root: *workspace_root
          paths:
            - node_modules

  black_duck_scan:
    docker:
      # blackduck requires node and java
      - image: cimg/node:lts-browsers
    working_directory: *workspace_root
    parameters:
      scan-mode:
        description: "use RAPID on branches to not persist the result and INTELLIGENT as default for the nightly job"
        default: INTELLIGENT
        type: enum
        enum: [INTELLIGENT, RAPID]
      enable_ctp:
        default: false
        description: |
          Boolean for whether or not to run CTP Scan after OS3 scan. Default is false.
        type: boolean
    steps:
      - checkout:
          path: *workspace_root
      - attach_workspace:
          at: *workspace_root
      - blackduck/blackduck-detect:
          enable_ctp: << parameters.enable_ctp >>
          blackduck-scan-mode: << parameters.scan-mode >>
          blackduck-project-group: SAP_Signavio_Process_Manager
          blackduck-project-name: svg-intersections
          blackduck-project-path: "$HOME/workspace"
          excluded-directories: 'test,node_modules'

  checkmarx-one-scan:
    docker:
      - image: checkmarx/ast-cli
    steps:
      - checkout
      - run:
          name: 'Run Scan'
          command: |
            /app/bin/cx \
            scan create \
            -s . \
            --agent CircleCI \
            --project-name svg-intersections \
            --application-name OS_SIGNAVIO_SVG_INTERSECTIONS \
            --branch $CIRCLE_BRANCH \
            --base-uri $CX_BASE_URI \
            --base-auth-uri $CX_BASE_AUTH_URI \
            --tenant $CX_TENANT \
            --client-id $CX_CLIENT_ID \
            --client-secret $CX_CLIENT_SECRET \

workflows:
  version: 2
  full_workflow:
    jobs:
      - build
      - sonar_qube_scan:
          context: SonarQubeSAP
          requires:
            - build
      - checkmarx-one-scan:
          filters:
            branches:
              only:
                - master
          context:
            - checkmarx-one

  nightly-blackduck-scan:
    triggers:
      - schedule:
          cron: '0 0 * * *'
          filters:
            branches:
              only: master
    jobs:
      - build
      - black_duck_scan:
          enable_ctp: true
          context: BlackDuck
          requires:
            - build


